footer{
    background-color: white;
    border-top: 2px solid #DD975B;
    font-family: 'Montserrat', sans-serif;
    bottom: 0;
    width: 100%;
    padding-top: 1%;
}


.Foto-footer{
    height: 50px;
    width: 55px;
}

.Foto-Inicio{
    position: sticky;
    text-align: center;
}