Header{
    display: flex;
}

.navbar {
    background-color: white;
}

.Hover:hover {
    color: #DD975B;
    border-bottom: 2px solid #DD975B;
}

header {
    border-bottom: 2px solid #DD975B;
}

ul li{
    display: inline-block;
}



.Logo{
    height: 77px;
    width: 117.5px;
}