Header{
    display: flex;
    border-bottom: 2px solid $color-principal;
    .navbar {
        background-color: white;
    .container-fluid{
        background-color: white;
        width: 100vw;
        .Hover:hover {
            color: $color-principal;
            border-bottom: 2px solid $color-principal;
        
            }
        }
    }
}

ul li{
    display: inline-block;
}



.Logo{
    height: 77px;
    width: 117.5px;
}